.card{
    margin: auto 3% !important;
    padding: 0 !important;
    box-shadow: #000 0 8px 10px -2px;
    min-width: 260px;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: #000 solid 2px;
}

.card-text{
    margin: 10px 0 !important;
    text-align: center;
}

.artistName{
    color: #6294b6;
    font-weight: bold;
    font-size: 1rem;
}

.albumName{
    color: #6294b6;
    font-size: 0.8rem;
    font-weight: bold;
}

.songPlaying{
    font-family: sans-serif;
    color: #272726;
    font-size: 1.5rem;
}


.playerControls{
    background: #F1F1F1 !important;
    height: auto;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 3% !important;
}

.list-group-item{
    width: 100%;
    border-radius: 10px;
}

.list-group-item:hover{
    background: #eee;
    cursor: pointer;
}

.button{
    border-radius: 50%;
    background: #89CEDE;
    color: #fff;
    margin: 2%;
    padding: 7%;
    border: #eee solid 2px;
    box-shadow: #000 0px 3px 8px -2px;
    transition: all 300ms ease-in;

}

.play{
    font-size: 2rem;
    padding: 25px;
}


.center{
    margin: 0 auto !important;
    width: 215px;
    height: 8rem;;
}

input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border:1px solid black;
    border-radius: 10px;
    background: #80e4df; /* Old browsers */
    background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}

input[type="range"] {
    -webkit-appearance: none;
    border: 1px solid black;
    top: 18px;
    display: block;
    width: 100%;
    height: 15px;
    border-radius: 20px;
    background-color: #242323;
    left: 90px;
 
    box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
}

input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border:1px solid black;
 
    border-radius: 10px;
    background: #80e4df; /* Old browsers */
    background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}
 