.card {
    margin: auto 3% !important;
    padding: 0 !important;
    box-shadow: #000 0 8px 10px -2px;
    min-width: 260px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: #000 solid 2px;
}

.card-text {
    margin: 10px 0 !important;
    text-align: center;
}

.artistName {
    color: #6294b6;
    font-weight: bold;
    font-size: 1rem;
}

.albumName {
    color: #6294b6;
    font-size: 0.8rem;
    font-weight: bold;
}

.songPlayingTitle {
    font-family: sans-serif;
    color: #272726;
    font-size: 1.5rem;
}

.playerControls {
    background: #F1F1F1 !important;
    height: auto;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 3% !important;
    position: relative;
}

.list-group-item {
    width: 100%;
    border-radius: 10px;
}

.list-group-item:hover {
    background: #eee;
    cursor: pointer;
}

.listStyling{
    box-shadow: #000 0px 0px 1px 0px;    
}

.listHolder{
    clear: both;
}

.button {
    border-radius: 50%;
    background: #eaeaea;
    color: #8e8b8b;
    margin: 2%;
    padding: 7%;
    border: #eee solid 2px;
    box-shadow: #000 0px 3px 8px -2px;
    transition: all 300ms ease-in;
}

.play {
    font-size: 2rem;
    padding: 10%;
}

.center {
    margin: 0 auto !important;
    width: 185px;
    height: 8rem;
    ;
}

input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: #242323;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .6);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 5px;
    border: 1px solid #eee;
    border-radius: 15%;
    height: 20px;
    width: 10px;
    background: #fff;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}